<div style="float:right">
	<a href="/">Home</a> | 
	<a href="/users">Manage Users</a> | 
	<a href="/books">Manage Books</a>
</div>

<h3><%= @book.first['title'] %></h3>
<p><em><%= @book.first['author'] %></em></p>

<p><a href="/books/<%= @id %>/status">Status:</a><%= @status.first['status'] == 'checked_out' ? '  checked out' : '  available' %></p>

<% if @status.first['status'] == 'available' || @status.first['status'] == 'returned'%>
	<form action="/books/<%= @id %>/checkout" method="POST">
		<select name="user_id">
			<% @users.each do |user| %>
			<option value="<%= user['id'] %>"> <%= user['name'] %> </option>
			<% end %>
		</select>
		<input type="submit" value="checkout">
	</form>
<% elsif @status.first['status'] == 'checked_out' %>
	<form action="/books/<%= @id %>/checkin" method="POST">
		<input type="submit" value="checkin">
	</form>
<% end %>
